<ion-view title="Adicionar Fotos">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Ionic Blank Starter</h1>
        </ion-header-bar>
        <ion-content class="has-header padding" ng-controller="imageController">
            <button class="button button-energized" ng-click="addImage()">
                Add image
            </button><br><br>
            <ion-scroll>
                <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
            </ion-scroll>
        </ion-content>
    </ion-pane>
</ion-view>